{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SoundTemp</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1>SoundTemp</h1>
    <nav>
      <a href="http://127.0.0.1:8000/register/">Inscription</a>
      <a href="http://127.0.0.1:8000/login/">Connexion</a>
      <a href="http://127.0.0.1:8000/profile/">Profil</a>
      <a href="http://127.0.0.1:8000/dashboard/">Tableau de bord</a>
      <a href="https://github.com/JENGADJY/soundtemp" target="_blank">GitHub</a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Bienvenue sur SoundTemp</h2>
      <p>SoundTemp est une application qui associe votre humeur musicale à la météo actuelle grâce à Spotify et WeatherStack.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 SoundTemp</p>
  </footer>
</body>
</html>
