<!DOCTYPE html>
<html>
<head>
    <title>Mon Profil</title>
</head>
<body>
    <h2>Modifier le profil</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Nom d'utilisateur :</label><br>
        <input type="text" name="username" value="{{ user.username }}"><br><br>

        <label>Email :</label><br>
        <input type="email" name="email" value="{{ user.email }}"><br><br>

        <label>Access Token :</label><br>
        <input type="text" name="access_token" value="{{ user.userprofile.access_token }}"><br><br>

        <label>Refresh Token :</label><br>
        <input type="text" name="refresh_token" value="{{ user.userprofile.refresh_token }}"><br><br>

        <label>Expire dans (secondes) :</label><br>
        <input type="number" name="expires_in" value="3600"><br><br>

        <button type="submit">Mettre à jour</button>
    </form>



    <hr>

    <div id="spotify-section">
        {% if user.userprofile.spotify_access_token %}
            <p><strong>Spotify lié</strong></p>
            <p>Access token : {{ user.userprofile.access_token }}</p>
            <p>Expire le : {{ user.userprofile.token_expires_at }}</p>
        {% else %}
            <a href="{% url 'spotify_login' %}">Lier mon compte Spotify</a>
        {% endif %}
    </div>

    

</body>
</html>
